#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #ffffff;
}
#header4-1b H1 {
  font-size: 46px;
  color: #27aae0;
}
#header4-1b P {
  font-size: 30px;
  color: #ffffff;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #ffffff;
}
#header1-d H1 {
  font-size: 100px;
}
#header1-d P {
  text-align: left;
  font-size: 25px;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #ffffff;
}
#social-buttons1-g .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-h .mbr-header__text {
  color: #ffffff;
}
#form1-i .mbr-header__text {
  color: #ffffff;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #ffffff;
}
#header4-q H1 {
  font-size: 60px;
  text-align: center;
}
#header4-q P {
  font-size: 36px;
}
#header4-q .btn {
  font-size: 20px;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #ffffff;
}
#msg-box4-t .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-t .mbr-header__subtext {
  color: #ffffff;
  font-size: 20px;
}
#msg-box4-t .mbr-article {
  color: #ffffff;
}
#msg-box4-t .mbr-header__text DIV {
  text-align: left;
  font-size: 30px;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #ffffff;
}
#header4-x H1 {
  font-size: 100px;
  color: #27aae0;
}
#header4-x P {
  text-align: left;
  font-size: 24px;
  color: #ff0400;
}
#footer1-c P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-c B {
  font-size: 48px;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}
#footer1-z P {
  color: #ff0400;
  text-align: center;
  font-size: 46px;
}
#footer1-z B {
  font-size: 48px;
}
#features1-18 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
